body {
    font-family: "Lato", sans-serif;
}

main {
    margin: auto;
    max-width: 1024px;
}

h1, h2, h3, h4, h5, h6 {
    color: palevioletred;
}

p {
    max-width: 60ch;
}

.logo {
    border-radius: 20px;
    top: 8px;
    padding: 5px 10px;
    position: fixed;
    font-size: 24px;
    text-decoration: none;
    color: palevioletred;
    background: lightcyan;
}

.img-align-left {
    float: left;
    margin-right: 16px;
}

.img-text {
    max-width: 90ch;
}

.page-list-sep {
    border-color: black;
    border-width: 1px;
    margin: 0;
}

.page-list {
    margin: auto;
    width: fit-content;
    padding: 10px;
}

.page-list-text {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
    padding: 10px;
}

.page-list-text-current {
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.page-list-text:hover {
    font-weight: 400;
    background-color: orange;
}

.page-list-text-current:hover {
    font-weight: bold;
}

.dropdown {
    cursor: default;
    position: relative;
    display: inline-block;
}

.dropdown-button {
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    margin-top: 8px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}
